@import 'flex';
@import 'size';
@import 'spacing';

@font-face {
  font-family: Honda_Regular;
  src: local("Honda_Regular"),
  url(../assets/Honda_Regular.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Microsoft_Sans_Serif;
  src: local("Microsoft_Sans_Serif"),
  url(../assets/Microsoft_Sans_Serif.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Terminal_Vector;
  src: local("TerminalVector"),
  url(../assets/Terminal_Vector.ttf);
  font-weight: bold;
}

html, body, #root {
  height: 100%;
}

html {
  display: flex;
  flex-direction: column;
}

.border {
  border-top: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
}
