@import 'Box';
@import 'size';
@import 'spacing';

@font-face {
  font-family: Microsoft_Sans_Serif;
  src: local("Microsoft_Sans_Serif"),
  url(../assets/Microsoft_Sans_Serif.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Honda_Regular;
  src: local("Honda_Regular"),
  url(../assets/Honda_Regular.ttf);
  font-weight: bold;
}

* {
  font-family: Microsoft_Sans_Serif;
}

header {
  background: #322F36;
  font-family: Honda_Regular;
  font-size: $size-xxxxxl;
  color: white;
}

.border {
  border-top: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
}
