@use 'sass:math';

$base-unit:      8px;

$size-none:      0px;
$size-s:         math.div($base-unit, 4);
$size-m:         math.div($base-unit, 2);
$size-l:         $base-unit;
$size-xl:        $base-unit * 1.5;
$size-xxl:       $base-unit * 2;
$size-xxxl:      $base-unit * 3;
$size-xxxxl:     $base-unit * 4;
$size-xxxxxl:    $base-unit * 5;

$box-width: 600px;
$box-height: 450px;
